.down-icon {
  // position: absolute;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    width: 3rem;
    height: 3rem;
    top:85%;
  }
}
