@import 'styleVariables.scss';

h2 {
  font-size:5rem;
}

.portfolio-detail-text {
  max-width: 35rem;
}

.back-button {
  background: none;
  border: none;
  color: white;
  margin-right:67%;
  
  .back-arrow-icon {
    width:5rem;
    height:5rem;
    color:$textColor;
    transition: 200ms;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.portfolio-item-image {
  margin-bottom:2rem;
  border-radius:$borderRadius;
}

.return-button {
  min-width:30rem;
  background: rgb(6, 246, 130);
  height: 3rem;
  margin-bottom:2rem;
  border-radius: $borderRadius;
  font-weight: 100;
  border: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    filter: brightness((1.2));
  }

  &:active {
    filter: brightness((0.9));
  }
}